SECRET_KEY=
DEBUG=

#For Stripe
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# For Database (for local ie, in .env leave database variable empty)
POSTGRES_ENGINE=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=

# For rabbitmq
RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=

# Celery broker url
CELERY_BROKER_URL=