# -------------------------------for local-------------------------
SECRET_KEY = r5PXrsqrKV1vX653jnVgd7Q6ZOtakwhrtlcCvKpQynF8mT6A7MpTSouXMX8ZEA5wdc0
DEBUG = True

#For Stripe
STRIPE_PUBLISHABLE_KEY =
STRIPE_SECRET_KEY =
STRIPE_WEBHOOK_SECRET =

# For Database
# keep it empty, if its empty local db fall to sqlite 
according to the db settings

# For rabbitmq
RABBITMQ_DEFAULT_USER = guest
RABBITMQ_DEFAULT_PASS = guest

# Celery broker url
CELERY_BROKER_URL = amqp://guest:guest@rabbitmq:5672//

# For bkash credentials
BKASH_APP_KEY = 
BKASH_APP_SECRET = 
BKASH_USERNAME = 
BKASH_PASSWORD = 
BKASH_BASE_URL = 





# ------------------------- for production -------------------------
SECRET_KEY = r5PXrsqrKV1vX653jnVgd7Q6ZOtakwhrtlcCvKpQynF8mT6A7MpTSouXMX8ZEA5wdc0
DEBUG = False

#For Stripe
STRIPE_PUBLISHABLE_KEY =
STRIPE_SECRET_KEY =
STRIPE_WEBHOOK_SECRET =

# For Database
POSTGRES_ENGINE = django.db.backends.postgresql
POSTGRES_DB = postgres
POSTGRES_USER = postgres
POSTGRES_PASSWORD = postgres
POSTGRES_HOST = db


# For rabbitmq
RABBITMQ_DEFAULT_USER = guest
RABBITMQ_DEFAULT_PASS = guest

# Celery broker url
CELERY_BROKER_URL = amqp://guest:guest@rabbitmq:5672//

# Security
CSRF_COOKIE_SECURE = True
SESSION_COOKIE_SECURE = True
SECURE_SSL_REDIRECT = True

# To send email using google mail server
EMAIL_HOST = smtp.gmail.com
EMAIL_PORT = 587
EMAIL_USE_TLS = True
EMAIL_HOST_USER = 
EMAIL_HOST_PASSWORD =
DEFAULT_FROM_EMAIL = 

# For bkash credentials
BKASH_APP_KEY = 
BKASH_APP_SECRET = 
BKASH_USERNAME = 
BKASH_PASSWORD = 
BKASH_BASE_URL = 