# Python / Django
__pycache__/
*.pyc


# environment variables
.env
.env.prod

# Databases
data/
db.sqlite3

# Docker

# IDEs
.vscode/
.idea/

# OS
.DS_Store

# For static files
static_root

# media file test purposes
media_root/
