{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static 'shop/css/base.css' %}" rel="stylesheet">
</head>

<body>
    <div id="header">
        <a href="/" class="logo">My shop</a>
    </div>

    <div id="subheader">

        {% if user.is_authenticated %}
        
            {% if user.profile.photo %}
                <div id="headshot">
                    <a href="{% url 'dashboard' %}"><img src="{{ user.profile.photo.url }}" style="width: 30px;height: 30px;border-radius: 50%;"></a>
                </div>
            {% endif %}

            <div id="username">
                <a href="{% url 'dashboard' %}"> {{ user.username }} |</a>
            </div>
            
        {% else %}
            <a href="{% url 'login' %}" style="padding-top: 7px;">Login | </a>
        {% endif %}

        <div class="cart">
            {% with total_items=cart|length %}
                {% if total_items > 0 %}
                    Your cart:
                    <a href="{% url "cart:cart_detail" %}">
                        {{ total_items }} item{{ total_items|pluralize }},
                        ${{ cart.get_total_price }}
                    </a>
                {% elif not order %}
                    Your cart is empty.
                {% endif %}
            {% endwith %}
        </div>

    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}"> {{ message | safe }} <a href="#" class="close">x</a> </li>
            {% endfor %}
        </ul>
    {% endif %}

    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
{% comment %} <script>
    window.ready(
        document.GetElementById('<label for="id_username">Username:</label>').InnerText('or email')
    )
    
</script> {% endcomment %}
</body>

</html>